<router-outlet></router-outlet>

<div class="start-menu">
    <mat-toolbar>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Home</span>
            </button>
            <button mat-menu-item>
            <mat-icon>language</mat-icon>
            <span>Português(PT)</span>
            </button>
            <button mat-menu-item>
            <mat-icon>note_add</mat-icon>
            <span>ADD New</span>
            </button>
        </mat-menu>
    
    <span>CD Room</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
    </mat-toolbar>
</div>

<div class="cdCards">
    <agl-cards></agl-cards>
</div>